<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里一定要把namespace写全了，要不然会找不到对应的UserMapper里的每一个方法-->
<mapper namespace="com.crud.mapper.UserMapper">
    <resultMap id="user" type="User">
        <id column="id" property="id" javaType="Integer"></id>
        <result column="username" property="username" javaType="String"></result>
        <result column="avatar" property="avatar" javaType="String"></result>
        <result column="email" property="email" javaType="String"></result>
        <result column="password" property="password" javaType="String"></result>
        <result column="status" property="status" javaType="Integer"></result>
        <result column="created" property="created" javaType="String"></result>
        <result column="last_login" property="last_login" javaType="String"></result>
    </resultMap>
    <!--查询所有用户-->
    <select id="getUsers" resultType="User">
        select * from m_user
    </select>
    <!--根据ID查询用户-->
    <select id="getUserById" resultMap="user" resultType="User" parameterType="Integer">
        select * from m_user
        <trim prefixOverrides="and" suffixOverrides="and">
            <where>
                and id = #{id}
            </where>
        </trim>
    </select>
    <!--更新用户-->
    <update id="updateUser" parameterType="User">
        update m_user set username=#{username},
                          avatar=#{avatar},
                          email=#{email},
                          password=#{password},
                          status=#{status},
                          created=#{created},
                          last_login=#{last_login}
                    where id=#{id}a
    </update>
    <!--新增用户-->
    <insert id="insertUser" parameterType="User">
        insert into m_user
        values (${id},#{username},#{avatar},#{email},#{password},#{status},#{created},#{last_login});
    </insert>
    <!--删除用户-->
    <delete id="deleteUserById" parameterType="Integer">
        delete from m_user where id=#{id}
    </delete>
</mapper>